:root {
    --primary-color: #3c8a97;
    --secondary-light-color: #f9c89a;
    --secondary-color: #ef9f54;
    --third-color: #ce6501;
    --light-color: #90d4df;
    --dark-color: #473422;
    --max-width: 1100px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.7em;
    background: #f4f4f4;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    width: 100%;
}

h2 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--dark-color);
}

.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

#main-nav {
    height: 50px;
    width: 100%;
    background: var(--light-color);
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
    overflow: hidden;
}

#main-nav .container {
    display: flex;
    justify-content: space-between;
}

#main-nav .logo {
    height: 40px;
    width: 40px;
    margin: 5px;
}

#main-nav .navigation {
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#main-nav .navigation i{
    color: var(--dark-color);
    margin-right: 40px;
}

#main-nav .navigation i:hover{
    color: var(--secondary-color);
}


#showcase {
    padding: 2rem;
    position: relative;
    color: #fff;
    background: var(--primary-color);
}

#showcase .showcase-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

#showcase .showcase-content {
    margin-bottom: .5rem;
}
#showcase .showcase-content h1 {
    font-size: 3.5rem;
    line-height: 3rem;
    font-weight: 900;
}

#showcase .showcase-content a {
    color: white;
}

#showcase .showcase-content a:hover{
    color: var(--secondary-color);
}

#showcase .showcase-content h6 {
    font-weight: 100;
    font-size: 10px;
    letter-spacing: .8rem;
    text-transform: uppercase;
    word-spacing: 1.3rem;
}

#showcase .showcase-icons i {
    padding: .8rem;
    color: var(--dark-color);
}

#showcase .showcase-container hr {
    background: var(--light-color);
    border: none;
    width: 100%;
    height: 4px;
    margin-bottom: .6rem;
}

#quick-words .quick-words-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#quick-words #words-left h2{
    margin-bottom: 20px;
}

#quick-words #words-left .btn{
    width: 200px;
    margin-top: 20px;
}

#words-right{
    position: relative;
}

#words-right::before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(11, 138, 152, 0.6);
}

#words-right img{
    height: 100%;
    width:100%
}

.separation-left {
    width: 60vw;
}

.separation-right {
    margin-left: 40vw;
    width: 60vw;
}

.separation-left hr,
.separation-right hr {
    height: 4px;
    background: var(--primary-color);
    border: none;
}

#design .design-container,
#coding .coding-container {
    margin-top: 30px;
    border-radius: 1rem;
}

#design .description,
#coding .description {
    align-items: center;
    text-align: center;
}

#design .description h2,
#coding .description h2 {
    margin-bottom: 20px
}


#design .photos-container,
#coding .photos-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-top: 2rem;
}

#design .photos-container .photo {
    overflow: hidden;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    box-shadow:3px 6px 6px var(--primary-color);
}

#coding .photos-container .photo {
    overflow: hidden;
    height: 150px;
    width: 250px;
    border-radius: 10px;
    box-shadow:3px 6px 6px var(--primary-color);
}

#coding .photos-container .photo img {
    height: 100%;
    width: 100%;
}

.photos-container .photo img:hover {
 opacity: 0.8;
}






