:root {
    --primary-color: #3c8a97;
    --secondary-light-color: #f9c89a;
    --secondary-color: #ef9f54;
    --third-color: #ce6501;
    --light-color: #90d4df;
    --dark-color: rgb(71, 53, 36);
    --max-width: 1100px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.7em;
    font-size: 16px;
    background: #f4f4f4;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    width: 100%;
}

h2 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--dark-color);
}

.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

#main-nav {
    height: 50px;
    width: 100%;
    background: var(--light-color);
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
    overflow: hidden;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
}

#main-nav .container {
    display: flex;
    justify-content: space-between;
}

#main-nav .logo {
    height: 40px;
    width: 40px;
    margin: 5px;
}

#main-nav .navigation {
    align-items: center;
    justify-content: center;
    padding: 12px;
}

#main-nav .navigation i{
    color: var(--dark-color);
    font-size: 1.5rem;
}

#main-nav .navigation .design-nav,
#main-nav .navigation .coding-nav {
    margin-right: 40px;
}

#main-nav .navigation i:hover{
    color: var(--secondary-color);
}


#showcase {
    padding: 2rem;
    position: relative;
    color: #fff;
    background: var(--primary-color);
}

#showcase .showcase-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

#showcase .showcase-content {
    margin-bottom: .5rem;
}
#showcase .showcase-content h1 {
    font-size: 3.5rem;
    line-height: 3rem;
    font-weight: 900;
}

#showcase .showcase-content a {
    color: white;
}

#showcase .showcase-content a:hover{
    color: var(--secondary-color);
}

#showcase .showcase-content h6 {
    font-weight: 100;
    font-size: 18px;
    letter-spacing: .8rem;
    padding-left: .6rem;
    text-transform: uppercase;
    background-color: rgba(71, 53, 36, .6);
    word-spacing: 1.3rem;
    margin-bottom: 1rem;
}

#showcase .showcase-icons i {
    padding: .8rem;
    color: var(--dark-color);
}

#showcase .showcase-icons i:hover {
    color: var(--secondary-color);
}

#showcase .showcase-container hr {
    background: var(--light-color);
    border: none;
    width: 100%;
    height: 4px;
    margin-bottom: .6rem;
}

#quick-words .quick-words-container {
    display: grid;
    grid-template-columns: auto 350px ;
}

#quick-words #words-left h2{
    margin-bottom: 20px;
}

#quick-words #words-left .btn{
    width: 200px;
    margin-top: 20px;
}

#words-right{
    position: relative;
}

/* #words-right::before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(11, 138, 152, 0.6);
} */

#words-right img{
    height: 90%;
    width:90%;
    margin-top: 5%;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 4px 8px 10px;
}

.separation-left {
    margin-left: 2vw;
    width: 58vw;
}

.separation-right {
    margin-left: 40vw;
    width: 58vw;
}

.separation-left hr,
.separation-right hr {
    height: 4px;
    background: var(--primary-color);
    border: none;
}

#design .design-container,
#coding .coding-container,
#photography .photography-container,
#more-words .more-words-container {
    margin-top: 30px;
    border-radius: 1rem;
}

#design .description,
#coding .description,
#photography .description,
#more-words .description { 
    align-items: center;
    text-align: center;
}

#design .description h2,
#coding .description h2,
#photography .description h2,
#more-words .description h2 {
    margin-bottom: 20px
}


#design .photos-container,
#coding .photos-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

#design .photos-container .photo {
    overflow: hidden;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    box-shadow:3px 6px 6px var(--primary-color);
}

#coding .photos-container .photo {
    overflow: hidden;
    height: 150px;
    width: 250px;
    border-radius: 10px;
    box-shadow:3px 6px 6px var(--primary-color);
}

#coding .photos-container .photo img {
    height: 100%;
}

#coding .description .description-link {
    font-weight: bold;
    font-style: italic;
}

#coding .description .description-link:hover {
    color: var(--third-color);
}

.photos-container .photo img:hover {
    opacity: 0.8;
    width: 110%;
}

#photography .photos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    gap: 2rem;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

#photography .photos-container .photo {
    overflow: hidden;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    box-shadow:3px 6px 6px var(--primary-color);
}

#photography .photos-container .photo-1 img,
#photography .photos-container .photo-8 img {
    height: 100%;
}

#photography .photos-container .photo-6 img,
#photography .photos-container .photo-9 img {
    height: 100%;
    object-fit: cover;
}

#design i,
#coding i,
#photography i,
#more-words i {
    background: var(--light-color);
    color: var(--dark-color);
    border-radius: 50%;
}

#more-words .icon {
    margin: .5rem;
    max-width: 50px;
    max-height: 50px;
}

#more-words .icons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 70px);
    gap: .5rem;
    justify-content: center;
}

#footer {
    height: 70px;
    margin-top: 4rem;
    text-align: center;
    color: white;
    background:var(--dark-color);
}

#footer .container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#footer .showcase-icons {
    display: none;
}

#footer p{
    font-size: 12px;
    font-weight: 300;
}






