.bg-light {
    background: #fff8f1;
}

.btn {
    padding: .8rem 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    display: inline-block;
    color: white;
    background: var(--third-color);
    border: none;
    border-radius: 12px;
    text-align: center;
    box-shadow: 2px 4px 4px black;
}

.btn:hover{
    opacity: 0.9;
}

.btn-dark {
    background: var(--dark-color);
}

.btn-light {
    color: var(--third-color);
    background: white;
}

.p-1 {padding: 1.5rem;}
.p-2 {padding: 2rem;}
.p-3 {padding: 3rem;}
.py-1 {padding: 1.5rem 0;}
.py-2 {padding: 2rem 0;}
.py-3 {padding: 3rem 0;}

.content-column {
    display: flex;
    flex-direction: column;
    align-content: start;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 100px;
}

.click-guide {
    opacity: 0.4;
    font-style: italic;
    display: block;
    text-align: center;
}

.click-guide:hover {
    color: var(--third-color);
    opacity: 1;
}